body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.self-end {
  align-self: flex-end;
}

.self-start {
  align-self: flex-start;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}


.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1000;
}

html, body, #root {
  width: 100%;
}